/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.root{
	backgroundColor: #202020;
	textColor: #FFFFFF;
	controllerNeutralColor: #303030;
	controllerSelectedColor: #808080;
	controllerHoverColor: #0096C9;
	workspaceColor: #808080;
	
    -fx-base: backgroundColor;
}

.progress-bar{
	-fx-accent: green;
}

.worldsynth-materialstate-selector {
	-fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
}

/*
.worldsynth-materialstate-selector .combo-box-popup .list-view 
{
	-fx-background-color: ladder(rgb(80%, 80%, 80%), transparent 0%, -fx-control-inner-background 100%);
	-fx-box-border: black;
}

.worldsynth-materialstate-selector .combo-box-popup .list-cell {
	-fx-background-color: transparent;
}
*/